*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f6f9;
}

/* Login & Register */

.auth-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.auth-card{
    background:white;
    padding:30px;
    width:400px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.auth-card h2{
    text-align:center;
    color:#1e3a8a;
    margin-bottom:10px;
}

.auth-card h3{
    text-align:center;
    margin-bottom:20px;
}

.auth-card input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

.auth-card button{
    width:100%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.auth-card button:hover{
    background:#1d4ed8;
}

.auth-card p{
    text-align:center;
    margin-top:15px;
}

/* Profile */

.profile-container{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:50px;
}

.profile-card{
    width:500px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.profile-card h2{
    text-align:center;
    margin-bottom:20px;
}

.profile-img{
    width:120px;
    height:120px;
    display:block;
    margin:auto;
    border-radius:50%;
    margin-bottom:20px;
}

.profile-card label{
    font-weight:bold;
}

.profile-card input{
    width:100%;
    padding:10px;
    margin:10px 0 20px;
}

.profile-card button{
    width:100%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:5px;
}
.button-group{
    display:flex;
    flex-direction:column;
    gap:15px;   /* Space between Login and Back */
}
#registerButton,
#backButton {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #2d5be3;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#registerButton {
    margin-bottom: 15px;   /* Space between buttons */
}

#registerButton:hover,
#backButton:hover {
    background-color: #1f46b8;
}